<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>
<div th:fragment="footer">
    <div id="footer" class="col-sm-12">
        <h1 th:text="#{application.copyright.text}">Copy </h1>
        <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
            <!-- with csrf enabled on http, cannot log out with get -->
            <!-- <a th:href="@{/logout}">Sign Out Get</a> -->
            <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
            </span>
    </div>
</div>
</body>
<!-- end footer -->
</html>